<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="expires" content="0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>   
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="home_style.css"></a>   
    <script type="text/javascript" src="home.js"></script>
    <script type="text/javascript" src="login_signup.js"></script>    
         
</head>
<body>


  
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <div class="navbar-brand">Discounted Trade</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://discountedtrade.herokuapp.com/">Home
                 <span class="sr-only">(current)</span>
                </a>
          </li>
          <% if(user == true) { %>
          <li class="nav-item">
            <a class="nav-link" href="https://discountedtrade.herokuapp.com/myadds">My Adds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discountedtrade.herokuapp.com/mypurchase">My Purchase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discountedtrade.herokuapp.com/logout">Logout</a>
          </li> 
          <% }else { %>
          <li class="nav-item">
            <a class="nav-link" href="" data-toggle="modal" data-target="#loginModal" id="loginbtn">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" data-toggle="modal" data-target="#signupModal" id="signupbtn">Signup</a>
          </li>
          <% } %> 
          <li class="nav-item">
            <a class="nav-link" href="" data-toggle="modal" data-target="#contactModal" id="contactbtn">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  

  <div class="row" id="addbutton">
    <% if(user == true) { %>
    <button class="btn btn-link" data-toggle="modal" data-target="#addbookModal"><span class="material-icons" style="font-size:60px;color:red;">add_circle</span> 
    </button>    
    <% } else {%>
    <button class="btn btn-link" onclick="alert('Please login to add book')"><span class="material-icons" style="font-size:60px;color:red;">add_circle</span> 
    </button>
    <% } %>  
  </div>
 
  <div class="container-fluid" style="padding-top: 120px">
    <div class="px-lg-4">
      
      <div class="row">
        
      <%for(let i=0;i<bookcollection.length;i++) { %>

        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="bg-white rounded shadow-sm">
            <div class="p-3">
              <h5> <a href="#" class="text-dark"><%=bookcollection[i].name%></a></h5>
              <p class="text-muted mb-0"><%=bookcollection[i].desc%></p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="large mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">&#x20b9;<%=bookcollection[i].price%></span></p>
                <% if(bookcollection[i].type == 'new' || bookcollection[i].type == 'New' || bookcollection[i].type == 'Resale'|| bookcollection[i].type == 'resale' ) { %>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal"><%=bookcollection[i].type%></div>
                <% } else { %>
                <div class="badge badge-warning px-3 rounded-pill font-weight-normal"><%=bookcollection[i].type%></div>
                <% } %>                
              </div>
              
              <div class="text-center" style="padding-top: 20px">
                <% if(bookcollection[i].status == 'available') { %>
                <button class="btn btn-primary" id="<%=i%>" onclick="buybook(<%=JSON.stringify(bookcollection[i]._id)%>,this.id,<%=JSON.stringify(user)%>)">Buy</button>   
                <% } else if(bookcollection[i].status == 'sold') { %>
                <button class="btn btn-primary" id="<%=i%>" onclick="buybook(<%=JSON.stringify(bookcollection[i]._id)%>,this.id,<%=JSON.stringify(user)%>)" disabled >Sold</button>  
                <% } %>                
              </div>  

              <!--<p class="text mb-0" style="padding-top: 3px;color: red"><span style="font-size: 17px">&#x24D8; </span><i>Assured seller</i></p>-->
            </div>
            
          </div>          
        </div>
      <% } %>
      <!-- End -->


      </div>
    </div>    
  </div>

  <div id="cover" style="display: none;"><div id="spinner" class="spinner-grow text-light"></div></div>

  <!-- Add Book Modal-->
  <div class="modal fade" id="addbookModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content" style="background-color: #f4f4f4">
      <div class="modal-header">
        <h4>Add a book for sale</h4>
      </div>

      <!-- Modal body -->
        <div class="modal-body">

            <form name="addbook" id="addbook" method="post" action="/addbook">
              <div class="control-group">
                <label class="control-label" for="name">Book Name<span class="required">*</span> : </label>
                <div class="controls">
                  <input required="" id="bookname" name="bookname" type="text" class="form-control" class="input-medium" required="">
                </div>
              </div>

              
              <div class="control-group" style="padding-top: 12px">
                <label class="control-label" for="description">Description<span class="required">*</span> : </label>
                <div class="controls">
                  <textarea required="" id="bookdesc" name="bookdesc" class="form-control" type="text" placeholder="Minimun 20 words" class="input-medium" row="3"></textarea>
                </div>
              </div>

              <div class="control-group" style="padding-top: 12px">
                <label class="control-label" for="bookprice">Price<span class="required">*</span> : </label>
                <div class="controls">
                  <input required="" id="bookprice" name="bookprice" class="form-control" type="number" placeholder="" class="input-medium" step=".01">
                </div>
              </div>

              <div class="control-group" style="padding-top: 12px">
                <div class="controls">
                  <label class="control-label" for="type">Type<span class="required">*</span> : </label>
                  <input type="radio" required name="booktype" value="new" style="margin-left:10px"> New
                  <input type="radio" required name="booktype" value="used" style="margin-left:20px"> Used
                </div>
              </div>

              <!-- Button -->
              <div class="control-group" align="center">
                <label class="control-label" for="addbook"></label>
                <div class="controls">
                  
                  <button type="submit" class="btn btn-primary">Submit</button>  
                </div>
              </div>
              
            </form>
        </div>
      </div>
    </div>
  </div>  

    

  <!-- Login Modal -->

  <div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content" style="background-color: #f4f4f4">
      <div class="modal-header">
        <h4>Login</h4>
      </div>

      <!-- Modal body -->
        <div class="modal-body">

              <div id="lerror" name="lerror" align="center" class="alert" style="display: none"></div>

              <div class="control-group">
                <label class="control-label" for="email">Email:</label>
                <div class="controls">
                  <input required="" id="lemail" name="email" type="email" class="form-control" placeholder="JoeSixpack" class="input-medium" required="">
                </div>
              </div>

              <!-- Password input-->
              <div class="control-group" style="padding-top: 12px">
                <label class="control-label" for="password">Password:</label>
                <div class="controls">
                  <input required="" id="lpassword" name="password" class="form-control" type="password" placeholder="********" class="input-medium">
                </div>
              </div>

              <!-- Button -->
              <div class="control-group" align="center">
                <label class="control-label" for="login"></label>
                <div class="controls">
                  <button id="login" name="login" class="btn btn-primary">Login</button>
                </div>
              </div>

              <!--<div class="control-group" align="center">               
                  <a class="btn btn-link" href="https://discountedtrade.herokuapp.com/google"><u>Google login</u></a>
              </div>-->              
          
        </div>
      </div>
    </div>
  </div>

  <!-- Signup Modal -->

  <div class="modal fade" id="signupModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content" style="background-color: #f4f4f4">
      <div class="modal-header">
        <h4>Signup</h4>
      </div>

      <!-- Modal body -->
        <div class="modal-body">


              <div id="serror" name="serror" align="center" class="alert" style="display: none"></div>

              <div class="control-group">
                <label class="control-label" for="name">Name<span class="required">*</span> : </label>
                <div class="controls">
                  <input required="" id="sname" name="name" type="text" class="form-control" placeholder="JoeSixpack" class="input-medium" required>
                </div>
              </div>

              <div class="control-group" style="padding-top: 12px">
                <label class="control-label" for="email">Email<span class="required">*</span> : </label>
                <div class="controls">
                  <input required="" id="semail" name="email" type="text" class="form-control" placeholder="JoeSixpack@gmail.com" class="input-medium" required>
                </div>
              </div>

              <!-- Password input-->
              <div class="control-group" style="padding-top: 12px">
                <label class="control-label" for="password">Password<span class="required">*</span> : </label>
                <div class="controls">
                  <input required="" id="spassword" name="password" class="form-control" type="password" placeholder="********" class="input-medium" required>
                </div>
              </div>

              <div class="control-group" style="padding-top: 12px">
                <label class="control-label" for="phone">Mobile No : <span href="" data-toggle="tooltip" title="Your Mobile Number will be used only by our executives to provide you better service. We don't share your mobile number with other sellers" align="center"><span style="font-size: 20px">&#x24D8; </span></span></label>
                
                <div class="controls">
                  <input type="number" id="phone" name="phone" class="form-control" placeholder="7709666360" class="input-medium" >                  
                </div>
              </div>

              <!-- Button -->
              <div class="control-group" align="center">
                <label class="control-label" for="signup"></label>
                <div class="controls">
                  <button id="signup" name="signup" class="btn btn-primary">Register</button>
                </div>
              </div>

              <!--<div class="control-group" align="center">               
                  <a class="btn btn-link" href="https://discountedtrade.herokuapp.com/google"><u>Google login</u></a>
              </div>-->          
        </div>
      </div>
    </div>
  </div>


  <!-- Contact Us Modal -->

  <div class="modal fade" id="contactModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content" style="background-color: #f4f4f4">
      <!--<div class="modal-header">
        <h4>Contact Us</h4>
      </div>-->

      <!-- Modal body -->
        <div class="modal-body">

        <div>We would be happy to hear from you at <span><b>vijayendrapagare05@gmail.com</b></span></div>        
                        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="buyBook">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content" style="background-color: #f4f4f4">
      <!--<div class="modal-header">
        <h4>Contact Us</h4>
      </div>-->

      <!-- Modal body -->
        <div class="modal-body">

        <div>Do you want us to notify the seller!!</div>

        <div class="control-group">
          <label class="control-label" for="buybookconfirmation"></label>
          <div class="controls">
            <button class="btn btn-primary btn-sm" onclick="buyingbookcancel()">No,take me back</button>
            <button class="btn btn-primary btn-sm yesbtn" style="margin-left: 20px" id="" onclick="buyingbookconfirmed(this.id)">Yes,go ahead</button>
          </div>
        </div>

        
                
                        
        </div>
      </div>
    </div>
  </div>
     
</body>
</html>